[submodule "btsync-saas-client"]
	path = btsync-saas-client
	url = git@github.com:genuinegreg/plop-sync-client.git
[submodule "btsync-saas-server"]
	path = btsync-saas-server
	url = git@github.com:genuinegreg/plop-sync-server.git
