[submodule "client"]
    path = client
    url = git@github.com:genuinegreg/plop-sync-client.git
[submodule "server"]
    path = server
    url = git@github.com:genuinegreg/plop-sync-server.git

[submodule "docker-btsync"]
	path = docker-btsync
	url = git@github.com:genuinegreg/plop-sync-docker-btsync.git
[submodule "dockerfile"]
	path = dockerfile
	url = git@github.com:genuinegreg/dockerfile.git
